@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

.font-raleway {
  font-family: 'Raleway', serif;
}

.blog-body a {
  @apply text-red-700 underline;
}

.blog-body a:hover {
  @apply text-red-900;
}

.blog-body p {
  @apply mb-6;
}

.blog-body abbr[title] {
  text-decoration: underline;
  text-decoration-color: #d1d5db;
}

.blog-body abbr[title]:hover {
  text-decoration: underline;
  text-decoration-color: #6b7280;
}

pre {
  @apply whitespace-pre-wrap bg-gray-100 rounded p-3 my-8 font-mono shadow-inner;
}

.blog-body h2 {
  @apply text-title-brown text-2xl mt-8 mb-2;
  font-family: 'Merriweather', serif;
}
